body {
    /* background: linear-gradient(#5B8DA3, #76cccc); */
    background-color: #7280D7;
    height: 100vh;
    font-family: 'Lato', sans-serif;

}

.title, .content {
    color: white;
    text-align: center;
    margin-top: 100px;
}


.content div, .about {
    width: 50%;
    margin: 40px auto;
    font-size: 1.2em;
}



.content div {
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(0, 0, 0, .4);
    padding: 20px;
    line-height: 1.5em;
    font-size: 1.4em;
}