body {
    /* background: linear-gradient(#5B8DA3, #76cccc); */
    background: linear-gradient(#7280D7, white);
    height: 100%;
    font-family: 'Lato', sans-serif;

}

.title, .content {
    color: #F5F5F5;
    text-align: center;
    margin-top: 100px;
}


.content div {
    width: 70%;
    margin: 40px auto;
}



.content div {
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    background: rgba(0, 0, 0, .4);
    padding: 20px;
    line-height: 1.5em;
    font-size: 1.4em;
    margin-bottom: 100px;
}

h1 {
    margin-top: 150px;
    font-size: 4em;
    margin-bottom: 0;
    text-shadow: 5px 5px #2D2D2A;
}


.screenshots div {
    width: 40%;
    margin: 2%;
    display: inline-block;
}

.screenshots img {
    width: 100%;
}

.target > p, .problem > p , .solution > p {
    padding: 5px 10%;

}